<div class="container">
    <form action="">
        <div class="form-group">
            <label for="playeroneusername">Username: </label>
            <input type="text" class="form-control" id="playeroneusername" placeholder="player 1 username"
                formControlName="playeroneusername">
        </div>
        <div class="form-group">
            <label for="playertwousername">Username: </label>
            <input type="text" class="form-control" id="playertwousername" placeholder="player 2 username"
                formControlName="playertwousername">
        </div>
        <button>Create Match</button>
    </form>
</div>